name: Maven Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    env: 
      JAVA_VERSION: 25
    steps:
    - uses: actions/checkout@v5
    - name: Create a temporary artifact downloads folder
      run: mkdir downloads
    - name: Setup JDK ${{env.JAVA_VERSION}}
      uses: actions/setup-java@v5
      with:
        distribution: 'adopt'
        java-version: ${{env.JAVA_VERSION}}
        cache: 'maven'
        
    - name: (livecoding-change-data-capture) Build with Maven
      working-directory: livecoding-change-data-capture
      run: mvn -B package --file pom.xml
    - name: (livecoding-change-data-capture) Upload project zip arctifact
      uses: actions/upload-artifact@v5
      with:
        name: livecoding-change-data-capture
        path: livecoding-change-data-capture/target/livecoding-change-data-capture-project.zip
            
    - name: (livecoding-functional) Build with Maven
      working-directory: livecoding-functional
      run: mvn -B verify --file pom.xml
    - name: (livecoding-functional) Upload project zip arctifact
      uses: actions/upload-artifact@v5
      with:
        name: livecoding-functional
        path: livecoding-functional/target/livecoding-functional-project.zip
      
    - name: (livecoding-eventdriven) Build with Maven
      working-directory: livecoding-eventdriven
      run: mvn -B verify --file pom.xml
    - name: (livecoding-eventdriven) Upload self contained project zip artifact
      uses: actions/upload-artifact@v5
      with:
        name: livecoding-eventdriven
        path: livecoding-eventdriven/target/livecoding-eventdriven-project.zip

    - name: (livecoding-eventsourcing-cqrs) Build with Maven
      working-directory: livecoding-eventsourcing-cqrs
      run: mvn -B verify --file pom.xml
    - name: (livecoding-eventsourcing-cqrs) Upload project zip arctifact
      uses: actions/upload-artifact@v5
      with:
        name: livecoding-eventsourcing-cqrs
        path: livecoding-eventsourcing-cqrs/target/livecoding-eventsourcing-cqrs-project.zip
      
    - name: (livecoding-unit-testing) Build with Maven
      working-directory: livecoding-unit-testing
      run: mvn -B verify --file pom.xml
    - name: (livecoding-unit-testing) Upload self contained project zip artifact
      uses: actions/upload-artifact@v5
      with:
        name: livecoding-unit-testing
        path: livecoding-unit-testing/target/livecoding-unit-testing-project.zip
